@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v7/qkBbXvYC6trAT7RVLtk.ttf) format('truetype');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(https://fonts.gstatic.com/s/oleoscript/v7/rax5HieDvtMOe0iICsUccChdu0o.ttf) format('truetype');
}
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Podkova Regular'), local('Podkova-Regular'), url(https://fonts.gstatic.com/s/podkova/v12/K2FxfZ1EmftJSV9VaJnzIg.ttf) format('truetype');
}
body {
  display: flex;
  background: #1E0606;
  color: #FEFBDD;
  width: 900px;
  margin: auto;
  font-family: Karla;
}
.header {
  font-size: 70px;
  background: #FFD02B;
  display: flex;
  justify-content: space-between;
}
.header .foodie-text {
  font-family: Podkova;
  color: white;
  font-weight: 800;
  padding-left: 10px;
}
.header .portfolio-text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
}
.header .menu-icon {
  width: 85px;
  height: 80px;
  background: #FFE177;
}
.header .menu-icon .menu-lines {
  width: 64px;
  border: 3px solid #FEFBDD;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 15px;
  margin-block-end: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}
.header .navigation {
  display: none;
}
.section-title {
  font-family: 'Oleo Script', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  text-align: center;
  color: #F9D96A;
  padding-top: 10px;
  padding-bottom: 10px;
}
.divider-lines {
  width: 100%;
  height: 15px;
  background: #F4E666;
}
.three-ps {
  display: flex;
  justify-content: space-around;
}
.three-ps .three-p-title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #FA8755;
}
.three-ps .three-p-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}
.about-section-content {
  width: 100%;
  font-size: 18px;
}
.about-section-content .about-section-points {
  width: 50%;
  justify-content: space-between;
  font-weight: 600;
}
.features-section {
  justify-content: space-between;
  padding-bottom: 20px;
}
.features-section .features-icons {
  font-size: 36px;
}
.features-section .features-content {
  width: 280px;
}
.about-lists {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  width: 50%;
  margin: auto;
  font-size: 25px;
}
.feature-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}
.feature-box {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
.button-section {
  margin: auto;
  display: flex;
  padding-bottom: 20px;
}
.button-section .live-demo-btn {
  background-color: #fa8755;
  width: 50%;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
  font-size: 30px;
  font-family: Karla;
  font-weight: 800;
}
.pricing-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-bottom: 40px;
}
.pricing-row .pricing-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  text-decoration: underline;
  font-size: 30px;
}
.pricing-row .pricing-box {
  width: 30%;
  font-weight: 600;
  font-size: 25px;
  -webkit-box-shadow: 0px 0px 15px 5px #ffe177;
  -moz-box-shadow: 0px 0px 15px 5px #ffe177;
  box-shadow: 0px 0px 15px 5px #ffe177;
  border-radius: 25px;
}
.dropdown {
  z-index: 2;
  cursor: pointer;
}
.dropdown .dropdown-button {
  box-sizing: border-box;
  padding: 0.5rem;
  text-decoration: underline;
  line-height: 4rem;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 85px;
  height: 80px;
  background-color: #0c0b0b;
  color: #f8bb60;
  border: 0.1rem solid #e7dfd2;
}
.dropdown .dropdown-button:hover {
  background-color: #0c0b0b;
  color: #f1a026;
}
.dropdown .dropdown-content {
  width: 10%;
  position: absolute;
  box-sizing: border-box;
  background-color: #f8bb60;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #f8f4ed;
  border-bottom: 0.1rem solid white;
}
.dropdown .dropdown-link:hover {
  color: #ffffff;
  background-color: #b95503;
}
.dropdown .dropdown-hidden {
  display: none;
}
.bottom-widgets {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.bottom-widgets .contact-title {
  font-size: 35px;
  font-weight: 700;
}
.bottom-widgets .contact-address-phone {
  text-decoration: none;
  text-decoration-color: #FFD02B;
  font-size: 20px;
}
.bottom-widgets .contact-address-phone a:link {
  color: #FFD02B;
}
.bottom-widgets .contact-address-phone a:hover {
  color: #FEFBDD;
}
.bottom-widgets .contact-address-phone:link {
  text-decoration: none;
  color: #FFD02B;
}
.nav-bottom {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  font-size: 30px;
  padding-top: 35px;
}
.nav-bottom a:link {
  color: #FFD02B;
}
.nav-bottom a:hover {
  color: #FEFBDD;
}
.copyright {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  overflow: hidden;
}
@media (min-width: 1000px) {
  .carousel {
    width: 1000px;
  }
}
.carousel img {
  width: 110%;
}
.carousel .image-noshow {
  display: none;
}
.carousel .image-show {
  display: visible;
  animation: slideShowFade;
  animation-duration: 1s;
}
@keyframes slideShowFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

