@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v7/qkBbXvYC6trAT7RVLtk.ttf) format('truetype');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(https://fonts.gstatic.com/s/oleoscript/v7/rax5HieDvtMOe0iICsUccChdu0o.ttf) format('truetype');
}
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Podkova Regular'), local('Podkova-Regular'), url(https://fonts.gstatic.com/s/podkova/v12/K2FxfZ1EmftJSV9VaJnzIg.ttf) format('truetype');
}
.mobile-margins {
  margin-left: 3%;
  margin-right: 3%;
}
.mobile-flex {
  display: flex;
  flex-flow: column;
}
.mobile-font {
  font-size: 4rem;
}
.section-title {
  font-family: 'Oleo Script', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 8rem;
  text-align: center;
  color: #F9D96A;
  padding-top: 10px;
  padding-bottom: 10px;
}
.divider-lines {
  width: 100%;
  height: 15px;
  background: #F4E666;
}
.regular-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  overflow: hidden;
  width: 900px;
}
* {
  font-size: 62.5%;
}
body {
  display: flex;
  background: #1E0606;
  color: #FEFBDD;
  width: 900px;
  margin: auto;
  font-family: Karla;
}
.header {
  font-size: 10.5rem;
  background: #FFD02B;
  display: flex;
  justify-content: space-between;
}
.header .foodie-text {
  font-family: Podkova;
  color: white;
  font-weight: 800;
  padding-left: 10px;
  text-decoration: none;
}
.header .portfolio-text {
  font-family: Quicksand;
  font-style: normal;
  font-weight: normal;
}
.header .menu-icon {
  width: 85px;
  height: 80px;
  background: #FFE177;
}
.header .menu-icon .menu-lines {
  width: 64px;
  border: 3px solid #FEFBDD;
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 15px;
  margin-block-end: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
}
.header .navigation {
  display: none;
}
.section-title {
  font-family: 'Oleo Script', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 8rem;
  text-align: center;
  color: #F9D96A;
  padding-top: 10px;
  padding-bottom: 10px;
}
.divider-lines {
  width: 100%;
  height: 15px;
  background: #F4E666;
}
.three-ps {
  display: flex;
  justify-content: space-around;
}
@media ( max-width: 500px ) {
  .three-ps {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-flow: column;
  }
}
.three-ps .three-p-title {
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  text-align: center;
  color: #FA8755;
}
@media ( max-width: 500px ) {
  .three-ps .three-p-title {
    font-size: 7rem;
  }
}
.three-ps .three-p-text {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
}
@media ( max-width: 500px ) {
  .three-ps .three-p-text {
    font-size: 4rem;
  }
}
.about-section-content {
  width: 100%;
  font-size: 3rem;
}
@media ( max-width: 500px ) {
  .about-section-content {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-flow: column;
    font-size: 6rem;
  }
}
.about-section-content .about-section-points {
  width: 50%;
  justify-content: space-between;
  font-weight: 600;
}
.features-section {
  justify-content: space-between;
  padding-bottom: 20px;
}
.features-section .features-icons {
  font-size: 3rem;
}
.features-section .features-content {
  width: 280px;
}
.about-lists {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  width: 50%;
  margin: auto;
  font-size: 6rem;
}
@media ( max-width: 500px ) {
  .about-lists {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    font-size: 10rem;
    padding-bottom: 20px;
  }
  .about-lists ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 405px;
  }
}
.feature-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}
@media ( max-width: 500px ) {
  .feature-row {
    display: flex;
    flex-flow: column;
  }
}
.feature-row .feature-box {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  font-size: 3rem;
}
@media ( max-width: 500px ) {
  .feature-row .feature-box {
    width: 100%;
    font-size: 5rem;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 40px;
  }
}
.button-section {
  margin: auto;
  display: flex;
  padding-bottom: 20px;
  font-size: 3rem;
}
@media ( max-width: 500px ) {
  .button-section {
    font-size: 5rem;
    margin-left: 3%;
    margin-right: 3%;
  }
}
.button-section .live-demo-btn {
  background-color: #fa8755;
  width: 50%;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
  font-size: 3rem;
  font-family: Karla;
  font-weight: 800;
}
.button-content {
  font-size: 4rem;
}
@media ( max-width: 500px ) {
  .button-content {
    font-size: 5rem;
    margin-left: 3%;
    margin-right: 3%;
  }
}
.pricing-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding-bottom: 40px;
}
@media ( max-width: 500px ) {
  .pricing-row {
    display: flex;
    flex-flow: column;
  }
}
.pricing-row .pricing-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  text-decoration: underline;
  font-size: 3.5rem;
}
.pricing-row .pricing-box {
  width: 30%;
  font-weight: 600;
  font-size: 8rem;
  -webkit-box-shadow: 0px 0px 15px 5px #ffe177;
  -moz-box-shadow: 0px 0px 15px 5px #ffe177;
  box-shadow: 0px 0px 15px 5px #ffe177;
}
@media ( max-width: 500px ) {
  .pricing-row .pricing-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0px;
    margin-left: 3%;
    margin-right: 3%;
  }
}
.bottom-widgets {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
@media ( max-width: 500px ) {
  .bottom-widgets {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
.bottom-widgets .contact-title {
  font-size: 3rem;
  font-weight: 700;
}
@media ( max-width: 500px ) {
  .bottom-widgets .contact-title {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 5rem;
  }
}
.bottom-widgets .contact-address-phone {
  text-decoration: none;
  text-decoration-color: #FFD02B;
  font-size: 3rem;
}
@media ( max-width: 500px ) {
  .bottom-widgets .contact-address-phone {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 5rem;
    width: 100%;
  }
  .bottom-widgets .contact-address-phone address {
    font-size: 5rem;
  }
  .bottom-widgets .contact-address-phone a:link {
    font-size: 5rem;
  }
  .bottom-widgets .contact-address-phone a:hover {
    font-size: 5rem;
  }
}
.bottom-widgets .contact-address-phone a:link {
  color: #FFD02B;
}
.bottom-widgets .contact-address-phone a:hover {
  color: #FEFBDD;
}
.bottom-widgets .contact-address-phone:link {
  text-decoration: none;
  color: #FFD02B;
}
.nav-bottom {
  display: flex;
  flex-flow: column;
  text-decoration: none;
  font-size: 6rem;
  padding-top: 35px;
}
@media ( max-width: 500px ) {
  .nav-bottom {
    display: none;
  }
}
.nav-bottom a:link {
  color: #FFD02B;
}
.nav-bottom a:hover {
  color: #FEFBDD;
}
.nav-bottom a:visited {
  color: #FFD02B;
}
.copyright {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 3rem;
}
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  overflow: hidden;
}
.carousel img {
  width: 110%;
}
.carousel .image-noshow {
  display: none;
}
.carousel .image-show {
  display: visible;
  animation: slideShowFade;
  animation-duration: 1s;
}
@keyframes slideShowFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
  .carousel {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .mobile-intro {
    visibility: visible;
  }
}
@media screen and (min-width: 501px) and (max-width: 1600px) {
  .mobile-intro {
    display: none;
  }
}
.about-us-content {
  font-size: 2rem;
}
