// footer content

.bottom-widgets{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    
    .contact-title{
        font-size: 35px;
        font-weight: 700;
    }

    .contact-address-phone{
        text-decoration: none;
        text-decoration-color: #FFD02B;
        font-size: 20px;

        a:link{
            color:#FFD02B;
        }
        
        a:hover{
            color:#FEFBDD;
        }
    }

    .contact-address-phone:link{
        text-decoration: none;
        color: #FFD02B;
    }
}

.nav-bottom{
    display: flex;
    flex-flow: column;
    text-decoration: none;
    font-size: 30px;
    padding-top: 35px;

    a:link{
        color:#FFD02B;
    }
    
    a:hover{
        color:#FEFBDD;
    }
}

.copyright{
    display: flex;
    justify-content: center;

    padding-top: 50px;
    padding-bottom: 20px;
}