// index body content

.section-title{
    font-family: Oleo Script;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    text-align: center;
    color: #F9D96A;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divider-lines{
    width: 100%;
    height: 15px;
    background: #F4E666;
}

.three-ps{
    display: flex;
    justify-content: space-around;
        .three-p-title{
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            text-align: center;
            color: #FA8755;
        }

        .three-p-text{
            font-family: Karla;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            text-align: center;
        }
}

.about-section-content{
    width: 100%;
    font-size: 18px;

    .about-section-points{
        width:50%;
        justify-content: space-between;
        font-weight: 600;
    }
}

.features-section{
    justify-content: space-between;
    padding-bottom: 20px;

    .features-icons{
        font-size: 36px;;
    }

    .features-content{
        width: 280px;
    }
}

.about-lists{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width:50%;
    margin: auto;
}

.feature-row{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.feature-box{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column
}

.button-section{
    margin:auto;
    display:flex;

    .live-demo-btn{
        background-color: #fa8755;
        width: 50%;
        padding: 20px;
        border-radius: 25px;
        margin: auto;
        font-size: 30px;
     }   
}



.pricing-row{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .pricing-box{
        width: 30%;
    }
}