// mixin content here

.mobile-margins{
    margin-left: 3%;
    width: 90%;
}

.mobile-flex{
    display:flex;
    flex-flow: column;
}

.mobile-font{
    font-size:4rem;
}

.section-title{
    font-family: 'Oleo Script', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 8rem;
    text-align: center;
    color: #F9D96A;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divider-lines{
    width: 100%;
    height: 15px;
    background: #F4E666;
}

.regular-header{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    overflow: hidden;
    width:900px;
}
