// subpage classes here

.about-us-content{
    font-size: 3rem;
    .mobile-margins;
}

.feature-page {
    display: flex;
    justify-content: space-between;
    flex-flow: row;

  .feature-page-box {
    margin: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    font-size: 2.3rem;
    line-height: 2.7rem;
  }

  .feature-name {
    font-size: 2.6rem;
    color: rgb(247, 221, 75); 
  }

  .page-stuff {
    font-size: 4rem;
    line-height: 2rem;
  }

  features-text{
    font-size: 3rem;
  }

}

  .features-img {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    background-color: none;
    width: 100%;


    .features-title {
      font-size: 3rem;
    }
  }

