// subpage classes here

.about-us-content{
    font-size: 3rem;
    .mobile-margins;
}

.feature-page {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
  }
  .feature-page-box {
    margin: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
  }
  .features-img {
    text-align: center;
  }
  